<section class="resume-section bg-[var(--card)] p-6 rounded-lg shadow-sm">
    <h2 class="text-xl font-bold mb-4 border-b pb-2 border-[var(--primary)]">Things I like</h2>
    
    <div class="mb-3">
        <h3 class="font-semibold text-sm">Football</h3>
        <p class="text-xs text-[var(--primary)]">Messi fan, Pedri fan, Barça fan</p>
        <p class="text-xs text-[var(--primary)]"></p>
    </div>
    
    <div>
        <h3 class="font-semibold text-sm">Things I'm proud of</h3>
        <p class="text-xs text-[var(--primary)]">140kg bench at 69kg bodyweight 💪</p>
        <p class="text-xs text-[var(--primary)]">100m sprint under 11,5s 👍</p>
        <p class="text-xs text-[var(--primary)]">Max of 36+ pull-ups 👌</p>
        <p class="text-xs text-[var(--primary)]">Never lost a push up contest ✌️</p>
    </div>
</section>