<section class="resume-section bg-[var(--card)] p-6 rounded-lg shadow-sm">
    <h2 class="text-xl font-bold mb-4 border-b pb-2 border-[var(--primary)]">Projects</h2>
    
    <div class="mb-6">
        <h3 class="font-semibold mb-1">3D Virtual Restaurant Menu</h3>
        <p class="text-sm mb-2">Built virtual clone of dishes that the customer can see on his table directly from his camera</p>
        <div class="flex flex-wrap gap-2">
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">React</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Computer Vision</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">AI</span>
        </div>
    </div>
    
    <div class="mb-6">
        <h3 class="font-semibold mb-1">Road Accident Prediction</h3>
        <p class="text-sm mb-2">Built a distributed ML pipeline on Open Data to predict road accident risks.</p>
        <div class="flex flex-wrap gap-2">
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Scala</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Apache Spark</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">ML</span>
        </div>
    </div>
    
    <div class="mb-6">
        <h3 class="font-semibold mb-1">TeaStore Cloud-Native Application</h3>
        <p class="text-sm mb-2">Implemented dynamic load balancing and measured microservices energy consumption under load.</p>
        <div class="flex flex-wrap gap-2">
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Java</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Docker</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Locust</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Scaphandre</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Grid5k</span>
        </div>
    </div>
    
    <div>
        <h3 class="font-semibold mb-1">Seismic Event Detection – NASA SpaceApps</h3>
        <p class="text-sm mb-2">Applied FFT filtering and ML to Mars seismic data in order to reduce transmission costs</p>
        <div class="flex flex-wrap gap-2">
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Python</span>
             <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">Pandas</span>
            <span class="text-xs bg-[var(--secondary)] bg-opacity-20 px-2 py-1 rounded">TensorFlow</span>
        </div>
    </div>

    
</section>
</div>